################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MegaDesk-4-scotttolman/v15/Server/sqlite3
/.vs/MegaDesk-5-scotttolman/v15/Server/sqlite3/db.lock
